@import url('https://fonts.googleapis.com/css2?family=Anta&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22D4fd;
    --cor-quartenaria: #068DA9;
    --fonte-primaria: font-family: 'Krona One', sans-serif;
    --fonte-secundaria: font-family: 'Montserrat', sans-serif;
    --fonte-terciaria: font-family: "Libre Baskerville", serif;
    --fonte-quartenaria: font-family: "Playfair Display", serif;
}

body {
    margin: 0;
}

.main-login {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/fundo-azul.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.left-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > img {
    width: 70%;
    position: relative;
}

.logo > img {
    width: 20%;
    position: absolute;
    left: 80vh;
    bottom: 65%;

}


.right-login {
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login {
    width: 60%;
    top: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: rgba(34, 212, 253, .2);
    border-radius: 20px;
    box-shadow: 0px 10px 40px black;
}

.textfield {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: rgb(241, 229, 229);
    color: rgb(12, 82, 98);
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield>label {
    color: white;
    margin: 10px;
}

.textfield>input::placeholder {
    color: rgb(12, 82, 98);
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.btn-login {
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    color: white;
    background-color: rgb(22, 123, 247);
    cursor: pointer;
}

.btn-cadastro {
    border: none;
    border-radius: 10px;
    background-color: rgb(22, 123, 247);
    color: white;
    text-transform: uppercase;
    padding: 16px 20px;
    margin: 10px;
    cursor: pointer;
}
#text{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: white;
}

.rodape{
    width: 100vw;
    background-color: var(--cor-terciaria);
    padding: 3px;
    box-sizing: border-box;
}

.rodape > p {
    text-align: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}




